.li {
  margin: 0.7rem 0;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  background-color: rgba(17, 25, 40, 0.264);
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.div {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 1rem;
  height: 4rem;
  width: 4rem;
  fill: #d8e1e3;
  cursor: pointer;
}

.p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #d8e1e3;
  letter-spacing: 0.05rem;
}

.message {
  margin-top: 0.4rem;
  font-weight: 300;
  font-size: 1.2rem;
  color: #bbc9cd;
  letter-spacing: 0.05rem;
}

.active-dot {
  background-color: #6df56dcd;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
