.card {
  width: 40rem;
  margin: 2rem auto 0;
  padding: 2rem;
  font-family: "Manrope";
  font-style: normal;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
