.nav {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  border: 0.1rem solid rgb(181, 133, 227);
  border-radius: 0.5rem;
  background-color: rgba(17, 25, 40, 0.264);
  margin-bottom: 0.4rem;
}

.icon {
  margin-right: 6rem;
  height: 4rem;
  width: 4rem;
  fill: rgb(181, 133, 227);
  cursor: pointer;
}
.p {
  font-size: 3rem;
  font-weight: 500;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(181, 133, 227);
  letter-spacing: 0.1rem;
}
